.navbar-toggler {
  color: darken($color-white, 30%);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  font-size: 15px;
  transition: 0.3s;
  margin: 25px 10px;
  &:hover {
    cursor: pointer;
    color: darken($color-white, 20%);
  }
} 

.navbar-mobile {
    background-color: rgba($color-black, 0.85);
    height: 50vh;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  
  & .fa-times {
    box-sizing: border-box;
    margin: 15px 0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3s;
    padding: 15px;
    color: darken($color-white, 30%);
    &:hover {
      color: $color-white;
      cursor: pointer;
    }
  }
  
  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    & li {
      font-weight: 800;
      font-size: 16px;
      opacity: 0;
      color: $color-white;
      transition: 0.4s;
      &.navbar-active {
        opacity: 1;
        animation: fade-navbar-items;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        display: inline-block;
      }
    }
  }
}

.hr-navbar {
  border: 0;
  height: 1px;
  background: #ccc;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

#collapseNavbar {
  
  & .nav-item {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9em;
  color: darken($color-white, 30%);
  transition: 0.5s;
  &:hover {
    color: $color-white;
  }
  &-mobile {
    font-size: 1.5em;
  }
}

.hero {
    background-image: 
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
      ),
      url("https://images.unsplash.com/photo-1463253897230-4e281bf226c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b72fcba78c273e8d51a8522946f3b3b7&auto=format&fit=crop&w=2978&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: initial;
  &__text {
    padding-top: 20vh;
    & h1 {
      font-size: 3em;
    }
  }
}

@media (min-width: 991px) { 
  .hero {
    &__text {
      & h1 {
        font-size: 4em;
      }
    }
    background-attachment: fixed;
  }
} 